.input-section {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  background-color: white;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 15px;
}
.input-section div {
  display: flex;
  width: 100%;
  margin: 10px;
  height: 40px;
  border-color: rgb(223, 218, 218);
  border-style: solid;
  background-color: white;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
}
